Repository payjp/payjp-react-native-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format, npx fixpack

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "ios/Classes/**/*.{h,m}": [
    "clang-format -i -style=Google",
    "git add"
  ],
  "ios/Classes/**/*.swift": [
    "swiftlint autocorrect --format",
    "git add"
  ],
  "package.json": [
    "npx fixpack"
  ]
}

update xcode version
  .travis.yml
Due: none

add card form face type
  android/build.gradle
  android/src/main/java/jp/pay/reactnative/PayjpCardFormModule.kt
  example/src/App.tsx
Due: prettier --write

fix form type check
  android/src/main/java/jp/pay/reactnative/PayjpCardFormModule.kt
  ios/Classes/RNPAYCardForm.m
  src/CardForm.ts
  test/CardForm.test.ts
Due: prettier --write, clang-format -i -style=Google

update Podfile.lock
  example/ios/Podfile.lock
Due: none

disable pods warning
  example/package.json
Due: npx fixpack

rename func
  ios/Classes/RNPAYCardForm.m
Due: clang-format -i -style=Google

show log
  .travis.yml
Due: none

disable detox test
  .travis.yml
Due: none

revert Flipper version
  .travis.yml
  example/ios/Podfile.lock
Due: none

remove tableStyled type
  android/src/main/java/jp/pay/reactnative/PayjpCardFormModule.kt
  ios/Classes/RNPAYCardForm.m
  src/CardForm.ts
Due: prettier --write, clang-format -i -style=Google

fix check type
  android/src/main/java/jp/pay/reactnative/PayjpCardFormModule.kt
Due: none

revert cocoapods version
  example/ios/Podfile.lock
Due: none

fix startCardForm parameter
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
  example/src/App.tsx
  src/CardForm.ts
Due: prettier --write

fix param define
  example/src/App.tsx
  src/CardForm.ts
Due: prettier --write

fix test
  test/CardForm.test.ts
Due: prettier --write

update detox
  example/package.json
  example/yarn.lock
Due: npx fixpack

update ios 1.2.2
  example/ios/Podfile.lock
  payjp-react-native.podspec
Due: none

update docs
  docs/assets/js/search.json
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
Due: none

revert xcode version
  .travis.yml
Due: none

v0.4.1
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

update ios 1.2.3
  example/ios/Podfile.lock
  payjp-react-native.podspec
Due: none

update xcode version of ci
  .travis.yml
Due: none

0.4.2
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Update RN to 0.62.2 in example.
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Due: npx fixpack

Update react-native-community/cli to fix CVE-2020-8149 in logkitty.
  example/yarn.lock
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Fix ci cache.
  .travis.yml
Due: none

Update Xcode 11.5 on CI
  .travis.yml
Due: none

Update detox 16.6.0 -> 17.0.2
  example/package.json
  example/yarn.lock
Due: npx fixpack

Install npm before install in ci.
  .travis.yml
Due: none

Add xcodebuild option `ONLY_ACTIVE_ARCH=YES` in detox build.
  example/package.json
Due: npx fixpack

Specify podfile path in travis.
  .travis.yml
Due: none

Remove redundant key `licenses` from travis.yml.
  .travis.yml
Due: none

Remove `sudo` which key has no effect anymore.
  .travis.yml
Due: none

Update payjp-android to 1.2.2, payjp-ios 1.2.5
  android/build.gradle
  example/ios/Podfile.lock
  payjp-react-native.podspec
Due: none

Add github workflow to update payjp-sdk.
  .github/workflows/check_latest_sdk.yml
  android/build.gradle
  payjp-react-native.podspec
  sdkconfig.json
Due: none

Test
  .github/workflows/check_latest_sdk.yml
Due: none

Fix script
  .github/workflows/check_latest_sdk.yml
Due: none
