Repository payjp/payjp-react-native-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format, npx fixpack

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "ios/Classes/**/*.{h,m}": [
    "clang-format -i -style=Google"
  ],
  "ios/Classes/**/*.swift": [
    "swiftlint autocorrect --format"
  ],
  "package.json": [
    "npx fixpack"
  ]
}

exampleをExpo SDK 57 / RN 0.86へ更新 (CVE-2026-6734対応)
  example/app.json
  example/app/(tabs)/_layout.tsx
  example/components/ExternalLink.tsx
  example/components/ParallaxScrollView.tsx
  example/components/__tests__/ThemedText-test.tsx
  example/hooks/useThemeColor.ts
  example/package.json
  example/yarn.lock
Due: prettier --write, npx fixpack

Update expo router
  example/app/_layout.tsx
Due: prettier --write

chore: Remove unused workflows
  .github/workflows/check_dependencies_outdated.yml
  .github/workflows/check_latest_sdk.yml
Due: none

update version
  example/package.json
  example/yarn.lock
Due: npx fixpack

Update sdk version
  sdkconfig.json
Due: none
