Repository payjp/payjp-react-native-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format, npx fixpack

Set default value to style.
  ios/Classes/PayjpCardForm.swift
Due: swiftlint autocorrect --format

setup detox
  example/e2e/firstTest.spec.js
  example/e2e/init.js
  example/e2e/mocha.opts
  example/package.json
  example/src/App.tsx
Due: prettier --write, npx fixpack

use jest
  example/e2e/config.json
  example/e2e/firstTest.spec.ts
  example/e2e/init.js
  example/e2e/init.ts
  example/e2e/mocha.opts
  example/e2e/tsconfig.json
  example/package.json
  example/yarn.lock
Due: prettier --write, npx fixpack

setup android test
  example/android/app/build.gradle
  example/android/app/src/AndroidTest/java/jp/pay/reactnative/example/DetoxTest.java
  example/android/build.gradle
  example/package.json
Due: npx fixpack

fix build command
  example/e2e/config.json
  example/e2e/example.spec.ts
  example/e2e/tsconfig.json
  example/package.json
  example/yarn.lock
Due: prettier --write, npx fixpack

add check platform
  example/e2e/example.spec.ts
Due: prettier --write

fix test directory
  example/android/app/src/main/AndroidManifest.xml
  example/package.json
Due: npx fixpack

Reject illegal publickey for release build.
  ios/Classes/PayjpCore.swift
Due: swiftlint autocorrect --format

Update payjp-ios 1.1.6
  example/ios/Podfile.lock
  ios/Classes/PayjpCardForm.swift
  payjp-react-native.podspec
Due: swiftlint autocorrect --format

setup ci
  .travis.yml
Due: none

Fix version script.
  scripts/sync_version_ios.sh
Due: none

0.2.4
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Update example pods.
  example/ios/Podfile.lock
Due: none

Localize example project.
  example/ios/en.lproj/Localizable.strings
  example/ios/example.xcodeproj/project.pbxproj
  example/ios/ja.lproj/Localizable.strings
Due: none

Update eslint
  yarn.lock
Due: none

Update example dependencies
  example/package.json
  example/yarn.lock
Due: npx fixpack

Tweak fixpack.
  example/package.json
Due: npx fixpack

Fix plugin version at clientInfo.
  ios/Classes/PayjpCore.swift
Due: swiftlint autocorrect --format

Fix minimist security issue.
  example/yarn.lock
  package.json
  yarn.lock
Due: npx fixpack

Upgrade minimist 1.x -> 1.2.5
  example/yarn.lock
Due: none

Update Library dev RN dependencies to 0.62
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Due: npx fixpack

Update example to RN 0.62.1
  example/.gitattributes
  example/.gitignore
  example/android/app/build.gradle
  example/android/app/src/debug/java/jp/pay/reactnative/example/ReactNativeFlipper.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/jp/pay/reactnative/example/MainApplication.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew.bat
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/en.lproj/Localizable.strings
  example/ios/example-Bridging-Header.h
  example/ios/example.swift
  example/ios/example.xcodeproj/project.pbxproj
  example/ios/example.xcodeproj/xcshareddata/xcschemes/example-tvOS.xcscheme
  example/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  example/ios/example/AppDelegate.h
  example/ios/example/AppDelegate.m
  example/ios/example/main.m
  example/ios/exampleTests/exampleTests.m
  example/ios/ja.lproj/Localizable.strings
  example/package.json
  example/yarn.lock
Due: npx fixpack

Upgrade Typescript 3.7.5 -> 3.8.3.
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Due: npx fixpack

Upgrade prettier to 2.0.4.
  example/__tests__/App-test.tsx
  example/babel.config.js
  example/metro.config.js
  example/src/App.tsx
  example/src/SampleApi.ts
  package.json
  src/ApplePay.ts
  src/CardForm.ts
  src/Core.ts
  test/ApplePay.test.ts
  test/CardForm.test.ts
  test/Core.test.ts
  yarn.lock
Due: prettier --write, npx fixpack

Fix example podfile.lock.
  example/ios/Podfile.lock
Due: none

Fix onCardFormCanceled not called.
  ios/Classes/PayjpCardForm.swift
Due: swiftlint autocorrect --format

0.3.0
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/assets/js/search.json
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/globals.html
  docs/index.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_index_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_index_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: prettier --write, clang-format -i -style=Google, npx fixpack

Update openapi.
  .eslintignore
  src/models/Card.ts
  src/models/CardBrand.ts
  src/models/ErrorResponse.ts
  src/models/ModelError.ts
  src/models/Token.ts
  src/models/TokenForm.ts
Due: prettier --write

Add multidex to android example.
  example/android/app/build.gradle
  example/android/app/src/main/java/jp/pay/reactnative/example/MainApplication.java
Due: none

Support PAY.JP 1.2.0 on iOS.
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
  ios/Classes/PayjpApplePay.swift
  ios/Classes/PayjpCardForm.swift
  ios/Classes/PayjpCore.swift
  ios/Classes/RNPAY-Bridging-Header.h
  ios/Classes/RNPAYAppDelegateInterceptor.h
  ios/Classes/RNPAYAppDelegateInterceptor.m
  ios/Classes/RNPAYApplePay.h
  ios/Classes/RNPAYApplePay.m
  ios/Classes/RNPAYCardForm.h
  ios/Classes/RNPAYCardForm.m
  ios/Classes/RNPAYColorConverter.h
  ios/Classes/RNPAYColorConverter.m
  ios/Classes/RNPAYCore.h
  ios/Classes/RNPAYCore.m
  payjp-react-native.podspec
  src/Core.ts
Due: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format

Support PAY.JP 1.2.0 on Android.
  android/build.gradle
  android/src/main/java/jp/pay/reactnative/PayjpModule.kt
Due: none

Fix sample.
  example/android/app/src/main/AndroidManifest.xml
  example/ios/example/Info.plist
  example/src/App.tsx
Due: prettier --write

`application:openURL:sourceApplication:annotation:` is deprecated.
  ios/Classes/RNPAYAppDelegateInterceptor.m
Due: clang-format -i -style=Google

Fix test for `PayjpCore.init`.
  test/Core.test.ts
Due: prettier --write

0.4.0
  docs/assets/js/search.json
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

add card form view type
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/Classes/RNPAYCardForm.m
  payjp-react-native.podspec
  src/CardForm.ts
  test/CardForm.test.ts
Due: prettier --write, clang-format -i -style=Google

fix test
  test/CardForm.test.ts
Due: prettier --write

remove unused import
  example/src/App.tsx
Due: prettier --write

fix viewType check
  ios/Classes/RNPAYCardForm.m
Due: clang-format -i -style=Google

fix viewType
  src/CardForm.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  clang-format -i -style=Google: any of: ios/Classes/**/*.{h,m}
  swiftlint autocorrect --format: any of: ios/Classes/**/*.swift
  npx fixpack: any of: package.json
