Repository payjp/payjp-react-native-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format, npx fixpack

Fix script
  .github/workflows/check_latest_sdk.yml
Due: none

Bump up ios: 1.2.5, android: 1.2.2
  sdkconfig.json
Due: none

Add github workflow to update payjp-sdk.
  .github/workflows/check_latest_sdk.yml
  android/build.gradle
  payjp-react-native.podspec
  sdkconfig.json
Due: none

Fix podspec.
  package.json
  payjp-react-native.podspec
Due: npx fixpack

Update Podfile.lock after auto update.
  .github/workflows/check_latest_sdk.yml
Due: none

Fix
  .github/workflows/check_latest_sdk.yml
Due: none

Fi
  .github/workflows/check_latest_sdk.yml
Due: none

fe
  .github/workflows/check_latest_sdk.yml
Due: none

u
  .github/workflows/check_latest_sdk.yml
Due: none

Bump up ios: 1.2.5, android: 1.2.2
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

0.4.3
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/index.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Remove pod install from workflow
  .github/workflows/check_latest_sdk.yml
Due: none

Check outdated dependencies.
  .github/workflows/check_dependencies_outdated.yml
  outdated.txt
  scripts/check_outdated_deps.sh
Due: none

Update GoogleUtilities to 6.7
  example/ios/Podfile.lock
  payjp-react-native.podspec
Due: none

Check outdated weekly (every Monday).
  .github/workflows/check_dependencies_outdated.yml
Due: none

Remove temporary file.
  outdated.txt
Due: none

0.4.4
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Update example
  example/ios/Podfile.lock
Due: none

Replace with pod-outdated-check-action
  .github/workflows/check_dependencies_outdated.yml
  scripts/check_outdated_deps.sh
Due: none

Check action
  .github/workflows/check_dependencies_outdated.yml
Due: none

Revert "Check action"
  .github/workflows/check_dependencies_outdated.yml
Due: none

Bump up ios: 1.3.0, android: 1.3.0
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

Fix android
  android/src/main/java/jp/pay/reactnative/PayjpCardFormModule.kt
Due: none

0.4.5
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Update react-native from 0.62.2 to 0.63.3 in devDependencies.
  android/build.gradle
  package.json
  src/CardForm.ts
  test/CardForm.test.ts
  yarn.lock
Due: prettier --write, npx fixpack

Upgrade example react-native from 0.62.2 to 0.63.3
  example/__tests__/__snapshots__/App-test.tsx.snap
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/example-tvOSTests/Info.plist
  example/ios/example.xcodeproj/project.pbxproj
  example/ios/example/AppDelegate.m
  example/ios/example/Base.lproj/LaunchScreen.xib
  example/ios/example/LaunchScreen.storyboard
  example/package.json
  example/src/App.tsx
  example/yarn.lock
Due: prettier --write, npx fixpack

Remove updateSnapshot option from ci
  .travis.yml
Due: none

Fix travis
  .travis.yml
Due: none

Fix
  .travis.yml
Due: none

0.5.0
  docs/assets/js/search.json
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Update actions
  .github/workflows/check_dependencies_outdated.yml
Due: none

fix action
  .github/workflows/check_dependencies_outdated.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  clang-format -i -style=Google: any of: ios/Classes/**/*.{h,m}
  swiftlint autocorrect --format: any of: ios/Classes/**/*.swift
  npx fixpack: any of: package.json
