Repository payjp/payjp-react-native-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format, npx fixpack

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "ios/Classes/**/*.{h,m}": [
    "clang-format -i -style=Google",
    "git add"
  ],
  "ios/Classes/**/*.swift": [
    "swiftlint autocorrect --format",
    "git add"
  ],
  "package.json": [
    "npx fixpack"
  ]
}

Fix action cache
  .github/workflows/check_dependencies_outdated.yml
Due: none

Fix usage of AppDelegateSwizzler
  example/ios/Podfile.lock
  ios/Classes/RNPAYAppDelegateInterceptor.m
  ios/Classes/RNPAYCore.m
  payjp-react-native.podspec
Due: clang-format -i -style=Google

Bump up ios: 1.3.1, android: 1.3.1
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

0.5.1
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Bump up ios: 1.3.2, android: 1.3.1
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

Bump up ios: 1.4.0, android: 1.3.1
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

0.5.2
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Add Makefile
  Makefile
Due: none

Update podfile.lock
  example/ios/Podfile.lock
Due: none

Add GitHub Actions Workflow
  .github/workflows/build_test.yml
Due: none

Fix for arm
  example/ios/example.xcodeproj/project.pbxproj
Due: none

Fix detox
  example/.detoxrc.json
  example/e2e/config.json
  example/e2e/environment.js
  example/e2e/example.e2e.ts
  example/e2e/init.ts
  example/package.json
  example/yarn.lock
Due: prettier --write, npx fixpack

Fix android test build
  android/build.gradle
  example/android/app/build.gradle
  example/android/app/src/main/java/jp/pay/reactnative/example/MainApplication.java
Due: none

Remove .travis.yml
  .travis.yml
Due: none

Update badge on README
  README.md
Due: none

Update GoogleUtilities/AppDelegateSwizzler to 7.1
  example/ios/Podfile.lock
Due: none

Update podspec
  Makefile
  payjp-react-native.podspec
Due: none

0.5.3
  docs/enums/_models_cardbrand_.cardbrand.html
  docs/index.html
  docs/interfaces/_models_card_.card.html
  docs/interfaces/_models_errorresponse_.errorresponse.html
  docs/interfaces/_models_modelerror_.modelerror.html
  docs/interfaces/_models_token_.token.html
  docs/interfaces/_models_tokenform_.tokenform.html
  docs/modules/_applepay_.html
  docs/modules/_cardform_.html
  docs/modules/_core_.html
  docs/modules/_models_card_.html
  docs/modules/_models_cardbrand_.html
  docs/modules/_models_errorresponse_.html
  docs/modules/_models_modelerror_.html
  docs/modules/_models_token_.html
  docs/modules/_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Add dependabot config
  .github/dependabot.yml
Due: none

Update lint-staged
  .lintstagedrc
  package.json
  yarn.lock
Due: npx fixpack

Fix node-fetch alert
  example/package.json
  package.json
  yarn.lock
Due: npx fixpack

Fix `@hapi/hoek` alert
  yarn.lock
Due: none

Fix yarn.lock
  example/yarn.lock
Due: none

Update lint
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Due: npx fixpack

Fix hapi/hoek alert
  package.json
  yarn.lock
Due: npx fixpack

Set dependabot weekly
  .github/dependabot.yml
Due: none

Create release automatically
  .github/dependabot.yml
  .github/workflows/create_release.yml
  .gitignore
  package.json
Due: npx fixpack

Use iPhone 12 Pro Max
  .github/workflows/build_test.yml
Due: none

Update AGP to 4.1.1
  android/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
Due: none

0.5.4
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.json
  docs/enums/_src_models_cardbrand_.cardbrand.html
  docs/globals.html
  docs/index.html
  docs/interfaces/_src_models_card_.card.html
  docs/interfaces/_src_models_errorresponse_.errorresponse.html
  docs/interfaces/_src_models_modelerror_.modelerror.html
  docs/interfaces/_src_models_token_.token.html
  docs/interfaces/_src_models_tokenform_.tokenform.html
  docs/modules/_src_applepay_.html
  docs/modules/_src_cardform_.html
  docs/modules/_src_core_.html
  docs/modules/_src_index_.html
  docs/modules/_src_models_card_.html
  docs/modules/_src_models_cardbrand_.html
  docs/modules/_src_models_errorresponse_.html
  docs/modules/_src_models_index_.html
  docs/modules/_src_models_modelerror_.html
  docs/modules/_src_models_token_.html
  docs/modules/_src_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: prettier --write, clang-format -i -style=Google, npx fixpack

Fix release script
  .github/workflows/create_release.yml
Due: none

Fix actions
  .github/workflows/check_latest_sdk.yml
Due: none

Bump up ios: 1.5.0, android: 1.4.0
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

0.6.0
  docs/enums/_src_models_cardbrand_.cardbrand.html
  docs/interfaces/_src_models_card_.card.html
  docs/interfaces/_src_models_errorresponse_.errorresponse.html
  docs/interfaces/_src_models_modelerror_.modelerror.html
  docs/interfaces/_src_models_token_.token.html
  docs/interfaces/_src_models_tokenform_.tokenform.html
  docs/modules/_src_applepay_.html
  docs/modules/_src_cardform_.html
  docs/modules/_src_core_.html
  docs/modules/_src_models_card_.html
  docs/modules/_src_models_cardbrand_.html
  docs/modules/_src_models_errorresponse_.html
  docs/modules/_src_models_modelerror_.html
  docs/modules/_src_models_token_.html
  docs/modules/_src_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Fix ci
  .github/workflows/build_test.yml
Due: none

Update GoogleUtilities to 7.2
  example/ios/Podfile.lock
  payjp-react-native.podspec
Due: none

Fix
  prettier.config.js
Due: prettier --write

Add task to install from Brewfile
  .gitignore
  Brewfile
  Makefile
Due: none

0.6.1
  docs/enums/_src_models_cardbrand_.cardbrand.html
  docs/interfaces/_src_models_card_.card.html
  docs/interfaces/_src_models_errorresponse_.errorresponse.html
  docs/interfaces/_src_models_modelerror_.modelerror.html
  docs/interfaces/_src_models_token_.token.html
  docs/interfaces/_src_models_tokenform_.tokenform.html
  docs/modules/_src_applepay_.html
  docs/modules/_src_cardform_.html
  docs/modules/_src_core_.html
  docs/modules/_src_models_card_.html
  docs/modules/_src_models_cardbrand_.html
  docs/modules/_src_models_errorresponse_.html
  docs/modules/_src_models_modelerror_.html
  docs/modules/_src_models_token_.html
  docs/modules/_src_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack
