Repository payjp/payjp-react-native-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format, npx fixpack

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "ios/Classes/**/*.{h,m}": [
    "clang-format -i -style=Google"
  ],
  "ios/Classes/**/*.swift": [
    "swiftlint autocorrect --format"
  ],
  "package.json": [
    "npx fixpack"
  ]
}

Bump up ios: 1.5.1, android: 1.4.1
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

0.6.2
  docs/enums/_src_models_cardbrand_.cardbrand.html
  docs/interfaces/_src_models_card_.card.html
  docs/interfaces/_src_models_errorresponse_.errorresponse.html
  docs/interfaces/_src_models_modelerror_.modelerror.html
  docs/interfaces/_src_models_token_.token.html
  docs/interfaces/_src_models_tokenform_.tokenform.html
  docs/modules/_src_applepay_.html
  docs/modules/_src_cardform_.html
  docs/modules/_src_core_.html
  docs/modules/_src_models_card_.html
  docs/modules/_src_models_cardbrand_.html
  docs/modules/_src_models_errorresponse_.html
  docs/modules/_src_models_modelerror_.html
  docs/modules/_src_models_token_.html
  docs/modules/_src_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Bump up ios: 1.5.1, android: 1.5.0
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

ios: 1.6.0, android: 1.5.0
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

Fix ci
  .github/workflows/build_test.yml
Due: none

0.6.3
  docs/enums/_src_models_cardbrand_.cardbrand.html
  docs/interfaces/_src_models_card_.card.html
  docs/interfaces/_src_models_errorresponse_.errorresponse.html
  docs/interfaces/_src_models_modelerror_.modelerror.html
  docs/interfaces/_src_models_token_.token.html
  docs/interfaces/_src_models_tokenform_.tokenform.html
  docs/modules/_src_applepay_.html
  docs/modules/_src_cardform_.html
  docs/modules/_src_core_.html
  docs/modules/_src_models_card_.html
  docs/modules/_src_models_cardbrand_.html
  docs/modules/_src_models_errorresponse_.html
  docs/modules/_src_models_modelerror_.html
  docs/modules/_src_models_token_.html
  docs/modules/_src_models_tokenform_.html
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Bump up ios: 1.6.1, android: 1.6.0
  example/ios/Podfile.lock
  sdkconfig.json
Due: none

Update settings
  .github/workflows/build_test.yml
  .node-version
  .vscode/settings.json
  example/ios/Podfile.lock
Due: none

$ npx create-expo-app@latest
  example2/.gitignore
  example2/README.md
  example2/app.json
  example2/app/(tabs)/_layout.tsx
  example2/app/(tabs)/explore.tsx
  example2/app/(tabs)/index.tsx
  example2/app/+html.tsx
  example2/app/+not-found.tsx
  example2/app/_layout.tsx
  example2/assets/fonts/SpaceMono-Regular.ttf
  example2/assets/images/adaptive-icon.png
  example2/assets/images/favicon.png
  example2/assets/images/icon.png
  example2/assets/images/partial-react-logo.png
  example2/assets/images/react-logo.png
  example2/assets/images/react-logo@2x.png
  example2/assets/images/react-logo@3x.png
  example2/assets/images/splash.png
  example2/babel.config.js
  example2/components/Collapsible.tsx
  example2/components/ExternalLink.tsx
  example2/components/HelloWave.tsx
  example2/components/ParallaxScrollView.tsx
  example2/components/ThemedText.tsx
  example2/components/ThemedView.tsx
  example2/components/__tests__/ThemedText-test.tsx
  example2/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  example2/components/navigation/TabBarIcon.tsx
  example2/constants/Colors.ts
  example2/hooks/useColorScheme.ts
  example2/hooks/useColorScheme.web.ts
  example2/hooks/useThemeColor.ts
  example2/package-lock.json
  example2/package.json
  example2/scripts/reset-project.js
  example2/tsconfig.json
Due: prettier --write, npx fixpack

Update dependencies for RN 0.74.5
  .eslintrc.js
  .husky/pre-commit
  .prettierrc.js
  babel.config.js
  package.json
  prettier.config.js
  tsconfig.base.json
  yarn.lock
Due: prettier --write, npx fixpack

chore: $ yarn lint:fix
  src/ApplePay.ts
  src/CardForm.ts
  src/Core.ts
  src/index.ts
  src/models/index.ts
  test/ApplePay.test.ts
  test/CardForm.test.ts
  test/Core.test.ts
Due: prettier --write

test: fix jest config
  jest.config.js
  package.json
  test/ApplePay.test.ts
  test/CardForm.test.ts
  test/Core.test.ts
Due: prettier --write, npx fixpack

fix: fix node build
  .github/workflows/build_test.yml
Due: none

fix: fix prettier config
  .prettierrc.js
  src/ApplePay.ts
  src/CardForm.ts
  src/Core.ts
  src/index.ts
  test/ApplePay.test.ts
  test/CardForm.test.ts
  test/Core.test.ts
Due: prettier --write

add(example): Add payjp-react-native to example2
  example2/ios/PAYJPExample.xcodeproj/project.pbxproj
  example2/ios/PAYJPExample/PrivacyInfo.xcprivacy
  example2/ios/Podfile.lock
  example2/package-lock.json
  example2/package.json
  example2/yarn.lock
Due: npx fixpack

feat: integrate library to example2
  .github/workflows/build_test.yml
  Makefile
  example2/.eslintignore
  example2/app.json
  example2/app/(tabs)/_layout.tsx
  example2/app/(tabs)/applepay.tsx
  example2/app/(tabs)/explore.tsx
  example2/app/(tabs)/index.tsx
  example2/app/+html.tsx
  example2/app/+not-found.tsx
  example2/app/SampleApi.ts
  example2/app/_layout.tsx
  example2/babel.config.js
  example2/components/Collapsible.tsx
  example2/components/ExternalLink.tsx
  example2/components/HelloWave.tsx
  example2/components/ParallaxScrollView.tsx
  example2/components/ThemedText.tsx
  example2/components/ThemedView.tsx
  example2/components/__tests__/ThemedText-test.tsx
  example2/components/navigation/TabBarIcon.tsx
  example2/constants/Colors.ts
  example2/hooks/useColorScheme.web.ts
  example2/hooks/useThemeColor.ts
  example2/ios/PAYJPExample.xcodeproj/project.pbxproj
  example2/ios/PAYJPExample/Info.plist
  example2/ios/PAYJPExample/PAYJPExample.entitlements
  example2/ios/Podfile.lock
  example2/package.json
  example2/tsconfig.json
  example2/yarn.lock
  payjp-react-native.podspec
Due: prettier --write, npx fixpack

feat(cardform): add extra attributes support
  android/build.gradle
  android/src/main/java/jp/pay/reactnative/PayjpCardFormModule.kt
  ios/Classes/RNPAYCardForm.m
  package.json
  sdkconfig.json
  src/CardForm.ts
  tsconfig.json
Due: prettier --write, clang-format -i -style=Google, npx fixpack

test: add extra attributes support
  test/CardForm.test.ts
Due: prettier --write

feat: add email and phone to card model
  generator/generate.sh
  generator/openapitools.json
  generator/package.json
  generator/src/.openapi-generator/FILES
  generator/src/.openapi-generator/VERSION
  generator/yarn.lock
  src/models/Card.ts
  src/models/CardBrand.ts
  src/models/ErrorResponse.ts
  src/models/ModelError.ts
  src/models/Token.ts
  src/models/TokenForm.ts
  src/models/index.ts
Due: prettier --write, npx fixpack

example: show action sheet for extra attributes
  example2/app/(tabs)/index.tsx
  example2/app/_layout.tsx
  example2/package.json
  example2/yarn.lock
Due: prettier --write, npx fixpack

test: add e2e test in example2
  .github/workflows/build_test.yml
  Makefile
  android/build.gradle
  example2/.detoxrc.js
  example2/app.json
  example2/app/(tabs)/index.tsx
  example2/e2e/example.test.js
  example2/e2e/jest.config.js
  example2/package.json
  example2/yarn.lock
  package.json
Due: prettier --write, npx fixpack

fix: fix ios simulator device and runtime
  .github/workflows/build_test.yml
  .prettierignore
Due: none

fix: fix Makefile for native build
  Makefile
Due: none

fix: fix e2e test build
  .github/workflows/build_test.yml
  Makefile
Due: none

fix: add yarn build to check target
  Makefile
Due: none

fix: update android emulator configuration
  .github/workflows/build_test.yml
  example2/.detoxrc.js
Due: prettier --write

fix: update Makefile to run e2e tests with release
  Makefile
Due: none

test: use debug configuration for e2e-android
  Makefile
Due: none

fix: android native build memory issue
  Makefile
Due: none

fix: use google_apis target for emulator
  .github/workflows/build_test.yml
Due: none

chore: add commend for CardIO dependency
  payjp-react-native.podspec
Due: none

test: fix emulator for e2e in CI.
  .github/workflows/build_test.yml
  example/.detoxrc.js
Due: prettier --write

Fix e2e emulator
  .github/workflows/build_test.yml
  example/.detoxrc.js
Due: prettier --write

Fix emulator
  .github/workflows/build_test.yml
  example/.detoxrc.js
Due: prettier --write

use 34 emulator
  .github/workflows/build_test.yml
Due: none

Use ubuntu-latest instead of macos-14
  .github/workflows/build_test.yml
Due: none
