Repository payjp/payjp-react-native-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, clang-format -i -style=Google, swiftlint autocorrect --format, npx fixpack

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "ios/Classes/**/*.{h,m}": [
    "clang-format -i -style=Google"
  ],
  "ios/Classes/**/*.swift": [
    "swiftlint autocorrect --format"
  ],
  "package.json": [
    "npx fixpack"
  ]
}

use 31 as the API level for the Android emulator
  .github/workflows/build_test.yml
Due: none

use debug build
  Makefile
Due: none

Remove e2e test on Android and iOS from ci.
  .github/workflows/build_test.yml
Due: none

no need to create release manually anymore.
  .github/workflows/create_release.yml
Due: none

feat: useThreeDSecure option to startCardForm
  android/src/main/java/jp/pay/reactnative/PayjpCardFormModule.kt
  ios/Classes/RNPAYCardForm.m
  sdkconfig.json
  src/CardForm.ts
  test/CardForm.test.ts
Due: prettier --write, clang-format -i -style=Google

example: Add PAY.JP 3-D Secure configuration
  example/app.json
  example/app/_layout.tsx
  example/config/add-android-dependencies.js
  example/config/payjp-three-d-secure.js
Due: prettier --write

Update sdkconfig.json to 2.1.1
  sdkconfig.json
Due: none

payjp-ios 2.1.3
  sdkconfig.json
Due: none

remove package from manifest for new changes of Android SDK
  android/src/main/AndroidManifest.xml
Due: none

add namespace to build.gradle
  android/build.gradle
Due: none

add newline
  android/src/main/AndroidManifest.xml
Due: none

payjp-ios/2.1.4
  sdkconfig.json
Due: none

increment ios SDK version
  sdkconfig.json
Due: none

0.8.5
  ios/Classes/RNPAY.m
  package.json
Due: clang-format -i -style=Google, npx fixpack

Remove openapi submodule
  .gitmodules
  generator/generate.sh
  generator/package.json
  generator/token-api.yaml
Due: npx fixpack

update SDK version
  sdkconfig.json
Due: none

add android notice
  README.md
Due: none

add fix method
  README.md
Due: none

Update plugin version to 0.9.0 and implement 3D Secure process handler
  android/src/main/java/jp/pay/reactnative/PayjpReactNativePackage.kt
  android/src/main/java/jp/pay/reactnative/PayjpThreeDSecureProcessHandlerModule.kt
  example/app.json
  example/app/(tabs)/_layout.tsx
  example/app/(tabs)/index.tsx
  example/app/(tabs)/tds/finish.tsx
  example/app/(tabs)/tds/index.tsx
  example/yarn.lock
  ios/Classes/RNPAYThreeDSecureProcessHandler.h
  ios/Classes/RNPAYThreeDSecureProcessHandler.m
  package.json
  src/ThreeDSecure.ts
  src/index.ts
  test/ThreeDSecure.test.ts
Due: prettier --write, clang-format -i -style=Google, npx fixpack

3Dセキュア処理の結果を返す際に、成功とキャンセルの状態を返すように修正
  android/src/main/java/jp/pay/reactnative/PayjpThreeDSecureProcessHandlerModule.kt
  example/app/(tabs)/tds/finish.tsx
  example/app/(tabs)/tds/index.tsx
  ios/Classes/RNPAYThreeDSecureProcessHandler.m
  src/ThreeDSecure.ts
  test/ThreeDSecure.test.ts
Due: prettier --write, clang-format -i -style=Google

PayjpCardScannerPluginの削除
  android/build.gradle
  android/src/main/java/jp/pay/reactnative/PayjpModule.kt
Due: none

podspecからCardIOの記述削除
  payjp-react-native.podspec
Due: none

Update GoogleUtilities/AppDelegateSwizzler
  payjp-react-native.podspec
Due: none

update ios platform version
  payjp-react-native.podspec
Due: none

Android SDKをv2.2.1へバージョン更新
  sdkconfig.json
Due: none

.gitignoreにclaude用の設定ファイルを追加
  .gitignore
Due: none

GitHub ActionsのNode.jsおよびCheckoutアクションをv6にアップグレード
  .github/workflows/build_test.yml
  .github/workflows/check_dependencies_outdated.yml
  .github/workflows/check_latest_sdk.yml
Due: none

GitHub Actionsのキャッシュ設定を簡素化し、YarnおよびCocoapodsのキャッシュを更新
  .github/workflows/check_dependencies_outdated.yml
Due: none

Node.jsのバージョンを22にアップグレード
  .github/workflows/build_test.yml
  .github/workflows/check_dependencies_outdated.yml
Due: none

rootのreact-nativeを0.86.0へ更新 (CVE-2025-11953対応)
  .node-version
  package.json
  tsconfig.base.json
  yarn.lock
Due: npx fixpack
